.study-enter {
  opacity: 0.01;
}

.study-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.study-leave {
  opacity: 1;
}

.study-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}